html,body{
  background-color: blanchedalmond;
}

#wrapper {
  border:midnightblue;
  border-style: solid;
  border-width: 2px;
  width: 800px;
  height: 900px;
  margin: 100px auto;
  position: relative;
}
#cards {
  height: 900px;
  width: 800px;
  background-color: white;
  overflow: auto;
}

#card1 {
  position: relative;
  top: 40px;
  width: 378px;
  height: 528px;
}

#card2 {
  position: relative;
  top: 40px;
  left: 40px;
  width: 378px;
  height: 528px;
}